#include "wx/msw/wx.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,1,5
 PRODUCTVERSION 7,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "LhK-Soft"
            VALUE "FileDescription", "MoviesCatalog x64 Unicode Application"
            VALUE "FileVersion", "3.0.1.5"
            VALUE "InternalName", "MoviesCatalog.exe"
            VALUE "LegalCopyright", "CopyLeft © 2015-'16,2019,2021-'22,2025 by LhK-Soft, Laurens H. Koehoorn"
            VALUE "OriginalFilename", "MoviesCatalog.exe"
            VALUE "ProductName", "based on MovieEditor using DAO, ©2005-'11 by LhK-Soft"
            VALUE "ProductVersion", "7.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
AAAA                    ICON                    "bitmaps\\MoviesCatalog.ico"

/////////////////////////////////////////////////////////////////////////////
